.glaz {
  width: 15.625vw;
  height: 13vw;
  background-image: url(../images/glazkrasn.png);
  background-size: 109.375vw 13vw;
  margin: 10vw 0;
}

.beg {
  animation: beg 1s steps(1) infinite;
}
.path {
  width: 15.625vw;
  height: 13vw;
  position: relative;
  top: 0;
  animation: path 4s linear infinite;
  margin-bottom: 2.5vw;
  /* overflow: hidden; */
}
@keyframes beg {
  0% {
    background-position: 0 top;
  }
  17% {
    background-position: -15.625vw top;
  }
  33% {
    background-position: -31.25vw top;
  }
  50% {
    background-position: -46.825vw top;
  }
  67% {
    background-position: -62.5vw top;
  }
  83% {
    background-position: -78.125vw top;
  }
  100% {
    background-position: -93.175vw top;
  }
}
@keyframes path {
  0% {
    left: -300px;
  }
  100% {
    left: 100%;
  }
}
.dvigaet {
  width: 100%;
  height: 50%;
  background-image: url(../images/dvigaet.png);
  background-size: 500% 100%;
  position: relative;

  top: 0;
  animation: dvigaet 1s steps(1) infinite;
}
.dvigaet:hover {
  animation-play-state: paused;
}
@keyframes dvigaet {
  0% {
    background-position: 0 top;
  }
  25% {
    background-position: -100% top;
  }
  50% {
    background-position: -200% top;
  }
  75% {
    background-position: -300% top;
  }
  100% {
    background-position: -400% top;
  }
}
/* .container-row {
  width: 100%;
  height: 12vw;
  background-color: #fe010c;
  padding-top: 4.5vw;
  position: relative;
  overflow: hidden;
}
.row {
  position: absolute;
  width: 200%;
  animation: moveRow 6s linear infinite;
} */

.container-row-image {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 8vw;
}
.row {
  width: 200%;
  /* position: absolute; */
  animation: moveRow 6s linear infinite;
}
.row-image {
  height: 8vw;
  background-image: url(../images/stroca.png);
  background-size: contain;
  width: 200%;
}
.row:hover {
  animation-play-state: paused;
}
@keyframes moveRow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.block1 p {
  animation: moveText 7s linear infinite;
}
.block1 p:hover {
  animation-play-state: paused;
}
.block1 p span:hover {
  color: #fe010c;
}

@keyframes moveText {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: 20%;
    left: 30%;
  }
  40% {
    top: 30%;
    left: 50%;
  }
  60% {
    top: 70%;
    left: 10%;
  }
  80% {
    top: 30%;
    left: 20%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
.block2 p {
  animation: moveText2 7s linear infinite;
}
.block2 p:hover {
  animation-play-state: paused;
}
.block2 p span:hover {
  color: #fff7e0;
}
@keyframes moveText2 {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: 50%;
    left: 20%;
  }
  40% {
    top: 60%;
    left: 50%;
  }
  60% {
    top: 10%;
    left: 40%;
  }
  80% {
    top: 30%;
    left: 10%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
.block3 p {
  animation: moveText 7s linear infinite;
}
.block3 p:hover {
  animation-play-state: paused;
}
.block3 p span:hover {
  color: #fff7e0;
}
@keyframes moveText3 {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: 10%;
    left: 60%;
  }
  40% {
    top: 60%;
    left: 80%;
  }
  60% {
    top: 80%;
    left: 20%;
  }
  80% {
    top: 30%;
    left: 90%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
.block4 p {
  animation: moveText 7s linear infinite;
}
.block4 p:hover {
  animation-play-state: paused;
}
.block4 p span:hover {
  color: #fe010c;
}
@keyframes moveText4 {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: 20%;
    left: 30%;
  }
  40% {
    top: 30%;
    left: 50%;
  }
  60% {
    top: 70%;
    left: 10%;
  }
  80% {
    top: 30%;
    left: 20%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
/* анимация лучей */
.transition {
  width: 50vw;
  height: 50vw;
  background-image: url(../images/luchi.png);
  background-size: 605% 100%;
  position: relative;

  top: 0;
  animation: rays 1s steps(1) infinite;
}
.transition:hover {
  animation-play-state: paused;
}
/* @keyframes rays {
  0% {
    background-position: 0 top;
  }
  20% {
    background-position: -50vw top;
  }
  40% {
    background-position: -100vw top;
  }
  60% {
    background-position: -150vw top;
  }
  80% {
    background-position: -200vw top;
  }
  100% {
    background-position: -250vw top;
  }
} */
@keyframes rays {
  0% {
    background-position: 0 top;
  }
  28% {
    background-position: -50vw top;
  }
  42% {
    background-position: -100vw top;
  }
  56% {
    background-position: -150vw top;
  }
  71% {
    background-position: -200vw top;
  }
  85% {
    background-position: -250vw top;
  }
  100% {
    background-position: -300vw top;
  }
}
/* анимация чуваков */
.dude {
  width: 50vw;
  height: 50vw;
  background-image: url(../images/chuvaki.png);
  background-size: 807.1% 100%;
  position: relative;

  top: 0;
  animation: moving 1s steps(1) infinite;
}
@keyframes moving {
  0% {
    background-position: 0 top;
  }
  12% {
    background-position: -50vw top;
  }
  25% {
    background-position: -100vw top;
  }
  37% {
    background-position: -150vw top;
  }
  50% {
    background-position: -200vw top;
  }
  62% {
    background-position: -250vw top;
  }
  75% {
    background-position: -300vw top;
  }
  /* 87% {
    background-position: -344.75vw top;
  }
  100% {
    background-position: -394vw top;
  } */
}
/* анимация блока с зеркалами */
.image-container {
  position: relative;
  width: 100vw;
  height: 35.42vw;
  border: none;
}

.image {
  width: 100%;
  height: 100%;
  background-image: url(../images/zerkala.png);
  background-size: 100% 100%;
  border: none;
  transition: opacity 0.3s ease-in-out;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/zerkala2.png);
  background-size: 100% 100%;
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover .image {
  opacity: 0;
}

.image-container:hover .hover-image {
  opacity: 1;
}
.stroca {
  width: 4.37vw;
  height: 47.8vw;
  background-image: url(../images/stroca2.png);
  background-size: 100% 100%;
}

.plavaet {
  width: 95vw;
  height: 47.8vw;
  background-color: #f9a693;
  position: relative;
  overflow: hidden;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plavaet::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/shtuki.png);
  background-size: cover;
  background-position: center;

  animation: shake 0.5s infinite, fadeOut 0.2s infinite;
}

@keyframes fadeOut {
  0%,
  80% {
    opacity: 1;
  }
  81%,
  100% {
    opacity: 0;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-3px, -3px);
  }
  50% {
    transform: translate(3px, 3px);
  }
  75% {
    transform: translate(-3px, 3px);
  }
}
/* Контейнер */
.block5 {
  width: 100vw;
  height: 15.27vw;
  background-color: #fe010c;
  position: relative;
  overflow: hidden;
}

/* Анимация объекта */
.glazy {
  width: 15.625vw;
  height: 13vw;
  background-image: url('../images/yellow.png');
  background-size: 109.375vw 13vw;
  position: absolute;
  top: 3vw;
  animation: path 4s linear infinite, beg 1s steps(1) infinite;
}

.beg {
  animation: beg 1s steps(1) infinite;
}
.path {
  width: 15.625vw;
  height: 13vw;
  position: relative;
  top: 0;
  animation: path 4s linear infinite;
  margin-bottom: 2.5vw;
  /* overflow: hidden; */
}
@keyframes beg {
  0% {
    background-position: 0 top;
  }
  17% {
    background-position: -15.625vw top;
  }
  33% {
    background-position: -31.25vw top;
  }
  50% {
    background-position: -46.825vw top;
  }
  67% {
    background-position: -62.5vw top;
  }
  83% {
    background-position: -78.125vw top;
  }
  100% {
    background-position: -93.175vw top;
  }
}
@keyframes path {
  0% {
    left: -300px;
  }
  100% {
    left: 100%;
  }
}
.container-row-image1 {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 4vw;
}
.row1 {
  width: 200%;
  /* position: absolute; */
  animation: moveRow 6s linear infinite;
}
.row-image1 {
  height: 4vw;
  background-image: url(../images/final.png);
  background-size: contain;
  width: 200%;
}
.row1:hover {
  animation-play-state: paused;
}
@keyframes moveRow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
