.glaz {
  width: 300px;
  height: 250px;
  background-image: url(../images/glazkrasn.png);
  margin: 275px 0;
}

.beg {
  animation: beg 1s steps(1) infinite;
}
.path {
  width: 300px;
  height: 250px;
  position: relative;
  top: 0;
  animation: path 4s linear infinite;
}
@keyframes beg {
  0% {
    background-position: 0 top;
  }
  17% {
    background-position: -300px top;
  }
  33% {
    background-position: -600px top;
  }
  50% {
    background-position: -900px top;
  }
  67% {
    background-position: -1200px top;
  }
  83% {
    background-position: -1500px top;
  }
  100% {
    background-position: -1800px top;
  }
}
@keyframes path {
  0% {
    left: -300px;
  }
  100% {
    left: 100%;
  }
}
