.glaz {
  width: 15.625vw;
  height: 13vw;
  background-image: url(../images/glazkrasn.png);
  background-size: 109.375vw 13vw;
  margin: 10vw 0;
}

.beg {
  animation: beg 1s steps(1) infinite;
}
.path {
  width: 15.625vw;
  height: 13vw;
  position: relative;
  top: 0;
  animation: path 4s linear infinite;
  margin-bottom: 2.5vw;
  /* overflow: hidden; */
}
@keyframes beg {
  0% {
    background-position: 0 top;
  }
  17% {
    background-position: -15.625vw top;
  }
  33% {
    background-position: -31.25vw top;
  }
  50% {
    background-position: -46.825vw top;
  }
  67% {
    background-position: -62.5vw top;
  }
  83% {
    background-position: -78.125vw top;
  }
  100% {
    background-position: -93.175vw top;
  }
}
@keyframes path {
  0% {
    left: -300px;
  }
  100% {
    left: 100%;
  }
}
.dvigaet {
  width: 100%;
  height: 50%;
  background-image: url(../images/dvigaet.png);
  background-size: 500% 100%;
  position: relative;

  top: 0;
  animation: dvigaet 1s steps(1) infinite;
}
@keyframes dvigaet {
  0% {
    background-position: 0 top;
  }
  25% {
    background-position: -100% top;
  }
  50% {
    background-position: -200% top;
  }
  75% {
    background-position: -300% top;
  }
  100% {
    background-position: -400% top;
  }
}
/* .container-row {
  width: 100%;
  height: 12vw;
  background-color: #fe010c;
  padding-top: 4.5vw;
  position: relative;
  overflow: hidden;
}
.row {
  position: absolute;
  width: 200%;
  animation: moveRow 6s linear infinite;
} */

.container-row-image {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 8vw;
}
.row {
  width: 200%;
  /* position: absolute; */
  animation: moveRow 6s linear infinite;
}
.row-image {
  height: 8vw;
  background-image: url(../images/stroca.png);
  background-size: contain;
  width: 200%;
}
@keyframes moveRow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.block1 p {
  animation: moveText 7s linear infinite;
}
.block1 p:hover {
  animation-play-state: paused;
}
.block1 p span:hover {
  color: #fe010c;
}

@keyframes moveText {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: 20%;
    left: 30%;
  }
  40% {
    top: 30%;
    left: 50%;
  }
  60% {
    top: 70%;
    left: 10%;
  }
  80% {
    top: 30%;
    left: 20%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
.block2 p {
  animation: moveText2 7s linear infinite;
}
.block2 p:hover {
  animation-play-state: paused;
}
.block2 p span:hover {
  color: #fff7e0;
}
@keyframes moveText2 {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: 50%;
    left: 20%;
  }
  40% {
    top: 60%;
    left: 80%;
  }
  60% {
    top: 10%;
    left: 40%;
  }
  80% {
    top: 30%;
    left: 10%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
.block3 p {
  animation: moveText 7s linear infinite;
}
.block3 p:hover {
  animation-play-state: paused;
}
.block3 p span:hover {
  color: #fff7e0;
}
@keyframes moveText3 {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: 10%;
    left: 60%;
  }
  40% {
    top: 60%;
    left: 80%;
  }
  60% {
    top: 80%;
    left: 20%;
  }
  80% {
    top: 30%;
    left: 90%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
.block4 p {
  animation: moveText 7s linear infinite;
}
.block4 p:hover {
  animation-play-state: paused;
}
.block4 p span:hover {
  color: #fe010c;
}
@keyframes moveText4 {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: 20%;
    left: 30%;
  }
  40% {
    top: 30%;
    left: 50%;
  }
  60% {
    top: 70%;
    left: 10%;
  }
  80% {
    top: 30%;
    left: 20%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
/* анимация лучей */
.transition {
  width: 50vw;
  height: 50vw;
  background-image: url(../images/luchi.png);
  background-size: 605% 100%;
  position: relative;

  top: 0;
  animation: rays 1s steps(1) infinite;
}

/* @keyframes rays {
  0% {
    background-position: 0 top;
  }
  20% {
    background-position: -50vw top;
  }
  40% {
    background-position: -100vw top;
  }
  60% {
    background-position: -150vw top;
  }
  80% {
    background-position: -200vw top;
  }
  100% {
    background-position: -250vw top;
  }
} */
@keyframes rays {
  0% {
    background-position: 0 top;
  }
  28% {
    background-position: -50vw top;
  }
  42% {
    background-position: -100vw top;
  }
  56% {
    background-position: -150vw top;
  }
  71% {
    background-position: -200vw top;
  }
  85% {
    background-position: -250vw top;
  }
  100% {
    background-position: -300vw top;
  }
}
/* анимация чуваков */
.dude {
  width: 50vw;
  height: 50vw;
  background-image: url(../images/chuvaki.png);
  background-size: 812% 100%;
  position: relative;

  top: 0;
  animation: moving 1s steps(1) infinite;
}
@keyframes moving {
  0% {
    background-position: 0 top;
  }
  12% {
    background-position: -50vw top;
  }
  25% {
    background-position: -100vw top;
  }
  37% {
    background-position: -150vw top;
  }
  50% {
    background-position: -200vw top;
  }
  62% {
    background-position: -250vw top;
  }
  75% {
    background-position: -300vw top;
  }
  /* 87% {
    background-position: -344.75vw top;
  }
  100% {
    background-position: -394vw top;
  } */
}
